td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.card {
  height: 400px;
  overflow-y: auto;
  margin: auto;
  margin-top: 10px;
  width: 90%;
  padding: 10px;


}
